.bg-white {
  background: #fff;
}

.bg-orange {
  background: #f3e4ad !important;
}

.bg-dark-orange {
  background: #c54b29;
}

#root {
  background: #232321;
}

.beers .row  .col-sm-4{
  padding: 20px;
}